
<nav ngxNavbarDynamicExpand class="navbar-light bg-light">
    <a class="navbar-brand" href="/home">Book Store</a>
    <button
      class="navbar-toggler"
      type="button"
      (click)="collapse.toggle()"
      aria-controls="main-nav"
      aria-expanded="false"
      aria-label="Navigáció kapcsoló"
    >
      <span
        class="navbar-toggler-icon d-flex align-items-center justify-conten-center"
      >
      </span>
    </button>
    <ngx-navbar-collapse id="main-nav" #collapse="ngxNavbarCollapse">
      <ul class="navbar-nav me-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href={{link}}>Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logout()">Logout</a>
        </li>
      </ul>
    </ngx-navbar-collapse>
  </nav>