<div class=" container d-flex justify-content-center align-items-center height ">
<div>
<img src="../assets/images/login.jpg "  class="img-responsive bounce-in-left" alt="login-img">
</div>
    <div class=" container-sm bg rad height1 width">
        <h1 class="text-white slide-in-left">We Welcome You</h1>

        <form class="login-form" [formGroup]="loginForm">
            <br>
            <div class="container">
                <div class="form-group">
                    <label for="username" class="text-white">Username</label>
                    <input type="text" class="form-control" id="username" autocomplete="off" formControlName="username" minlength="3"
                        placeholder="Enter your name">
                    <span *ngIf="loginForm.get('userName')?.touched &&
                    loginForm.get('username')?.errors?.['required']">
                        <div>
                            <span id="userNameRequired" class="text-danger">*Please enter user name</span>
                        </div>
                    </span>
                </div>
                <div class="form-group">
                    <label for="password"  class="text-white">Password</label>
                    <input type="password" class="form-control" id="password" autocomplete="off" formControlName="password" placeholder="Enter your password">

                    <span *ngIf="loginForm.get('password')?.touched &&
                     loginForm.get('password')?.errors?.['required']">
                        <div>
                            <span id="passwordRequired" class="text-danger">*Please enter password</span>
                        </div>
                    </span>
                    <span *ngIf="loginForm.get('password')?.touched &&
                     loginForm.get('password')?.errors?.['minlength']">
                        <div>
                            <span id="passwordRequired" class="text-danger">*Password must be at least 8
                                characters</span>
                        </div>
                    </span>
                </div>
                <br>
                <input type="submit"  class="btn btn-primary float-end" value="Login" (click)="Login()">
                <br>
            </div>
        </form>
    </div>
</div>