<div class="container d-flex justify-content-center align-items-center height">

    <div>
        <img src="./../../assets/images/register.jpg"  class="img-responsive bounce-in-left" alt="register-img">
    </div>

    <div class="container-sm bg rad height1 width">
        <form [formGroup]="userForm" (ngSubmit)="signup()">
            <br>
            <div class="container">
                <div class="form-group">
                    <label for="userName" class="text-white">User name</label>
                    <input type="text" class="form-control" id="userName" autocomplete="off" formControlName="userName" minlength="3"
                        placeholder="user name">
                    <span *ngIf="userForm.get('userName')?.touched &&
                    userForm.get('userName')?.errors?.['required']">
                        <div>
                            <span id="userNameRequired" class="text-danger">*Please enter user name</span>
                        </div>
                    </span>
                </div>
                <div class="form-group">
                    <label for="password"  class="text-white">Password</label>
                    <input type="password" class="form-control" id="password" autocomplete="off" formControlName="password">

                    <span *ngIf="userForm.get('password')?.touched &&
                     userForm.get('password')?.errors?.['required']">
                        <div>
                            <span id="passwordRequired" class="text-danger">*Please enter password</span>
                        </div>
                    </span>
                    <span *ngIf="userForm.get('password')?.touched &&
                     userForm.get('password')?.errors?.['minlength']">
                        <div>
                            <span id="passwordRequired" class="text-danger">*Password must be at least 8
                                characters</span>
                        </div>
                    </span>
                </div>

                <div class="form-group">
                    <label for="email" class="text-white">Email</label>
                    <input type="email" class="form-control" id="email" autocomplete="off" name="email"
                        formControlName="email" placeholder="abc@prodapt.com" />

                    <span *ngIf="userForm.get('email')?.touched &&
                     userForm.get('email')?.errors?.['required']">
                        <div>
                            <span id="emailRequired" class="text-danger">*Please enter email</span>
                        </div>
                    </span>

                    <span *ngIf="userForm.get('email')?.touched && userForm.get('email')?.errors?.['email']">
                        <div>
                            <span id="emailRequired" class="text-danger">*Enter valid email</span>
                        </div>
                    </span>
                </div>
                <div>
                    <p class="text-white">Already have an account?<a class="text-blue"href="/login">Login here</a></p>
                </div>
                <button class="btn btn-outline-warning" type="submit"> Register</button>
                <br>
            </div>
        </form>
    </div>

</div>
