/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Red+Hat+Display:wght@700&display=swap');
@import "~ng-zorro-antd/ng-zorro-antd.min.css";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    height: 100vh;
    font-family: 'Poppins', sans-serif;
font-family: 'Red Hat Display', sans-serif;
    background-color: rgb(0,36,2);
    background: linear-gradient(59deg, rgba(0,36,2,1) 0%, rgba(10,111,100,1) 35%, rgba(38,77,32,1) 100%);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
